absl-py==2.1.0
alembic==1.13.3
aniso8601==9.0.1
astunparse==1.6.3
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
databricks-sdk==0.34.0
deprecated==1.2.14
docker==7.1.0
filelock==3.16.1
flask==3.0.3
flatbuffers==24.3.25
fonttools==4.54.1
fsspec==2024.9.0
gast==0.6.0
gitdb==4.0.11
gitpython==3.1.43
google-auth==2.35.0
google-pasta==0.2.0
graphene==3.3
graphql-core==3.2.5
graphql-relay==3.2.0
greenlet==3.1.1
grpcio==1.67.0
h5py==3.12.1
humanfriendly==10.0
idna==3.10
importlib-metadata==8.5.0
itsdangerous==2.2.0
jinja2==3.1.4
joblib==1.4.2
keras==3.6.0
keras-nightly==3.6.0.dev2024101603
kiwisolver==1.4.7
libclang==18.1.1
mako==1.3.5
markdown==3.7
markdown-it-py==3.0.0
markupsafe==3.0.1
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.1
mlflow==2.17.0
mlflow-skinny==2.17.0
mpmath==1.3.0
namex==0.0.8
networkx==3.4.1
numpy==1.26.4
onnx==1.17.0
onnxruntime==1.19.2
opencv-python==4.10.0.84
opentelemetry-api==1.16.0
opentelemetry-sdk==1.16.0
opentelemetry-semantic-conventions==0.37b0
opt-einsum==3.4.0
optree==0.13.0
packaging==24.1
pandas==2.2.3
pillow==11.0.0
protobuf==4.25.5
psutil==6.1.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
pygments==2.18.0
pyparsing==3.2.0
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32==308
pyyaml==6.0.2
requests==2.32.3
rich==13.9.2
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
setuptools==75.2.0
six==1.16.0
smmap==5.0.1
sqlalchemy==2.0.36
sqlparse==0.5.1
sympy==1.13.3
tb-nightly==2.19.0a20241016
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.5.0
tf-nightly==2.19.0.dev20241015
tf-nightly-intel==2.19.0.dev20241015
threadpoolctl==3.5.0
torch==2.4.1+cu121
torchaudio==2.4.1+cu121
torchvision==0.19.1+cu121
typing-extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
waitress==3.0.0
werkzeug==3.0.4
wheel==0.44.0
wrapt==1.16.0
zipp==3.20.2
